<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" class="ion-padding">
  <div class="text-center">
    <p class="lead" *ngIf="loading">Loading...</p>
  </div>
  <ion-list>
    <ion-item *ngFor="let payment of results">
      <ion-label>
        <p slot="start"> {{payment.nombre}} </p>
        <ion-text color="success"> {{payment.monto |currency:'CAD':'Q' }} </ion-text>
        <h3>{{payment.fecha}}</h3>
        <p>{{payment.hora}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button class="primary-color-bg ion-margin-vertical" expand="block" (click)="doGetPayment()">Actualizar
  </ion-button>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>